{{ define "structs" }}
{{ range . }}
type {{ .Name }} struct {
    {{ range .Fields -}}
    {{ .Name }} {{ .Type }} {{ .Tag }}
    {{ end }}
}

func (s *{{.Name}}) Unmarshall(r scsv.Row) error {
    {{ range .Fields -}}
    s.{{.Name}} = r.Value("{{.Name}}").({{.Type}})
    {{ end }}
}
{{ end }}
{{ end }}